{% extends 'store/base.html' %}
 {% block content %}

  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop you're on top of the world...</p>
        </div>
    </div>
</header>
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
           
<!-- About page Contents-->
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit sapien ornare aliquet justo, enim mollis fusce hac curabitur. Pellentesque praesent consequat ac accumsan rhoncus dis inceptos vitae, ante mus lectus arcu ridiculus auctor duis lobortis curabitur, aliquet rutrum tortor integer metus hendrerit eget. Nunc nec ad nisi est purus duis auctor, augue metus euismod lobortis volutpat scelerisque, sodales ultricies nisl placerat netus ac.</p>
                    </div>
                </div>
        </div>
    </div>
</section>
 {% endblock %}